.container {
    max-width: 640px;
    margin: 0 auto;
    padding: 1em;
}

header{
    max-width: 640px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    --color1: #fff;
    --color2: #181818;
    max-width: 640;
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color1);
    padding: 12px 20px;
}
.logo img {
    width: 250px;
}

.menu {
    display:flex ;
}
.menu li {
    padding-left:30px;
}
.menu li a{
    display: inline-block;
    text-decoration:none;
    color: var(--color2);
    text-align: center;
    transition: 0.15s ease-in-out;
    position:relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {
    width: 100%;
}
.open-menu , .close-menu{
    position: absolute;
    color: var(--color2);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu{
    top: 20px;
    right: 20px;
}
#check {
    display: none;
}

h1 {
    font-size:15px ;
    
}
h2 {
    font-size:50px ;
    
}

/* FOR DESKTOP 
header {
    background-image: url(../images/banner-image.jpg);
    background-position: center;
    background-size: 100%;
} 
  */

.banner {
    padding: 15%;
}

/* making the buttons look nice */
.playstore-button, .app-button {
  display: flex;
  align-items: center;
  justify-content: center;

}

.playstore-button a{
    background-color: orangered;
    color: inherit;
    display: block;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    padding: 1em 0;
    text-align: center;
    font-size: 20px;
    margin-top: 5%;
    padding-left: 50px;
    padding-right: 50px;
 
}

.app-button a{
    background-color: transparent;
    color: inherit;
    display: block;
    border:1px solid orangered ;
    border-radius: 30px;
    color: orangered;
    text-decoration: none;
    padding: 1em 0;
    text-align: center;
    font-size: 20px;
    margin: 2%;
    padding-left: 50px;
    padding-right: 50px;
    
}

/* making the images a propper size */
.phones img{
    max-width: 640px;
    margin: 0 auto;
    margin-top: -35%;
}

/* adding the app section for mobile */
.app {
    max-width: 640px;
    margin: 0 auto;
}

/* design all h4 in app section */
.app h4 {
        order: 1;
        color: orangered;
        flex-basis: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
}

h3 {
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* adding the create account section for mobile */

/* NOTE TO SELF**** USE THIS METHODE FOR DESKTOP ONLY IF POSSIBLE */
.create-account {
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20%;
}

.create-account img {
    width: 100%;
    order: 4;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
   
}

.create-account h4 {
   order: 1;
   color: orangered;
   flex-basis: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.create-account h3{
order: 2;
flex-basis: 100%;
margin: 5%;
}

.create-account p {
    order: 3;
    flex-basis: 100%;
    display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 5%;
}

.explore {
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20%;
}

.explore h4 {
    order: 1;
    color: orangered;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore h3 {
    order: 2;
flex-basis: 100%;
margin: 5%;
}

.explore p {
    order: 3;
    flex-basis: 100%;
    display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 5%;
}

.explore img {
    width: 100%;
    order: 4;
    flex-basis: 100%;
    align-items: center;
    justify-content: center
}

.checkout {
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20%;
}

.checkout h4 {
    order: 1;
    color: orangered;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkout h3 {
    order: 2;
    flex-basis: 100%;
    margin: 5%;
}

.checkout p {
    order: 3;
    flex-basis: 100%;
    display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 5%;
}

.checkout img{
    width: 100%;
    order: 4;
    flex-basis: 100%;
    align-items: center;
    justify-content: center
}

/* Adding the download app section for mobile */

.download{
    background-color:rgb(33, 35, 78);
    margin-top: 20%;
    padding: 1em;
    

}

.download-info {
    max-width: 640px;
    margin: 0 auto;
    padding: 3em;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "header header header"
    "paragraph paragraph paragraph"
    "buy-button try-button try-button";
    
}

.download h5 {
    grid-area: header ;
    color: var(--color1);
    font-size: 40px;
    
}

.download p {

    color: var(--color1);
    grid-area: paragraph;
   font-size: 20px;
}

.buy-button{ 
    grid-area: buy-button;
}

.buy-button a {
    order: 3;
    background-color: orangered;
    color: inherit;
    display: block;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    padding: 1em 0;
    text-align: center;
    font-size: 20px;

}

.try-button {
    grid-area: try-button;
}

.try-button a{
    background-color: transparent;
    color: inherit;
    display: block;
    border:1px solid var(--color1) ;
    border-radius: 20px;
    color: var(--color1);
    text-decoration: none;
    padding: .9em 0;
    text-align: center;
    font-size: 20px;

    
}


/* @media(max-width:610px){ ******************************/

    

    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color1);
        transition: all 0.2s ease-in-out;
    }
    .menu li {
        margin-top: 40px;
    }
    .menu li a{
        padding: 10px;
    }
    .open-menu , .close-menu {
        display: block;
    }
    #check:checked ~ .menu {
        right: 0;
    }



